.btn {
    height: 40px;

    padding: 0 16px;

    border: none;
    border-radius: 6px;

    cursor: pointer;

    color: white;

    &.primary {
        background: #1976d2;
    }

    &.danger {
        background: #d32f2f;
    }
}