.modal-overlay {

    position: fixed;

    inset: 0;

    background: rgba(0, 0, 0, 0.4);

    display: flex;

    justify-content: center;
    align-items: center;
}

.modal-container {

    background: white;

    width: 700px;

    max-height: 90vh;

    overflow-y: auto;

    border-radius: 8px;

    padding: 20px;
}

.modal-header {

    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 20px;
}